.red-text
{
    color:red;
}
#blue-text
{
    color:rgb(255, 196, 0);
    text-decoration: brown;
    text-decoration-line:underline;
    text-orientation: sideways-right;
    outline: 3px;
    outline-color: black;
}
.c1
{
    border : 2px solid rgb(0, 110, 255);
}
#id1
{
    color:rgb(153, 0, 255);
}
h3 + a{
    font-style: italic;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}
