body{
    background-color: rgb(0, 204, 255);
}
p{
    background-color: rgb(red, rgb(128, 109, 0), blue);
}
h2{
    color:purple;
}
h1
{
    color:black;
    border: 5px black solid;
}
input{
    border:rgb(255, 51, 0) 3px solid;

}

textarea
{
    border: 5px grey solid;
}
.c1{
   background-color: rgb(0, 68, 255);
   border:5px yellow dashed;;
}
div p
{
    background-color: rgb(255,252,165);
}