h1
{
	text-align: center;

}
button
{
	margin-bottom: 100px;
}

.flex-container {
  display: flex;
  background-color: #FF1053;
  justify-content: center;
  width : 195px;
  align-items: center;
}

.flex-container > div {
  background-color: #F2F3AE;
  margin: 2px;
  padding: 30px;
  font-size: 30px;
}