h1{
    color : rgb(rgb(0, 140, 255), green, blue);
    }
    p{
        color:rgb(rgb(225, 0, 255), green, blue);
    }
    li
    {
        color:rgb(red, rgb(128, 0, 38), blue);
    }
    